<%include partials/navbar%>

<script type="text/javascript" src="homeScript.js"></script>



<!-- Modal -->
<div class="modal fade" id=<%= showSurveyPrompt %> tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Would you like to rate your Lookup Experience?</h3>
      </div>
      <div class="modal-body">
        <p>We're always trying to make your Lookup experience better! Answer a short survey to help us out :)</p>
      </div>
      <div class="modal-footer">
        <a href="/survey"><button type="button" class="btn btn-success" >Yes!</button></a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No Thanks</button>
      </div>
    </div>
  </div>
</div>





<h2 style="text-align:center" >Fact of the Day</h2>
<h3 id="nameHolder" style="text-align:center"><%= name %></h3>
<img src="<%= image %>" class="imgcenter">
<p style="text-align:center"><br><b>Description:</b> <br><%= description %></p>
<p style="text-align:center"><b>Location:</b> <br><%= location %></p>
<button id="getfactbutton" class="btn btn-lg btn-primary btn-block" style="max-width: 330px;margin: auto">Get Another Fact</button>





<%include partials/footer%>
